@page
@model SevenTiny.SmartHome.Pages.DailyMonitors.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyMonitor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Hour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DailyMonitor.Humidity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DailyMonitor.Humidity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DailyMonitor.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
