@page
@model SevenTiny.SmartHome.Pages.DailyMonitors.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMonitor[0].Humidity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DailyMonitor)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<section>
    <div id="Temperature" style="max-width:800px;height:400px"></div>
</section>

<section>
    <div id="Humidity" style="max-width:800px;height:400px"></div>
</section>

<script src="~/lib/Highcharts-7.1.3/code/highcharts.js"></script>
<script>
    var chart = Highcharts.chart('Temperature', {
        title: {
            text: '7tiny`s Home 温度概览'
        },
        subtitle: {
            text: '数据来源：7tiny.com'
        },
        yAxis: {
            title: {
                text: '温度（°C）'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },
        series: [{
            name: '温度',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    var chart2 = Highcharts.chart('Humidity', {
        title: {
            text: '7tiny`s Home 湿度概览'
        },
        subtitle: {
            text: '数据来源：7tiny.com'
        },
        yAxis: {
            title: {
                text: '湿度（%）'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },
        series: [{
            name: '温度',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
</script>